[
  {
    "name": "Test empty cmdline",
    "files": ["src/monocypher.c", "src/optional/monocypher-ed25519.c", "tests/selfcontained_test.c", "tests/utils.c" ],        // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-Itests -Isrc -Isrc/optional",   // Include all the compilation command options like if you were to compile the test
    "main": "main"              // Specify the entry point function for the test (optional, default is "main")
  },

  {
    "name": "Test empty cmdline",
    "files": ["src/monocypher.c", "src/optional/monocypher-ed25519.c", "tests/selfcontained_test.c", "tests/utils.c" ],        // List all the .c and .cpp source files used by the test
    "compilation_cmd": "-Itests -Isrc -Isrc/optional",   // Include all the compilation command options like if you were to compile the test
    "main": "main",              // Specify the entry point function for the test (optional, default is "main")
    "raw_options":{"-val-args": " c 23456"}
  }

]
